*, *::after, *::before {box-sizing: border-box;}
body {
  overflow: hidden;
  background-color: black;
}
section {
  max-width: 99.5vmin;
  max-height: 99.5vmin;
  margin: auto;
}
div{
  height: 32vmin;
  width: 32vmin;
  margin: 0;
  background-color: white;
  display: inline-block;
  position: relative;
}
div.available:hover{
  background-color: green;
}
div.circulo::before, div.cruz::before{
  display: block;
  height: 16vmin;
  width: 16vmin;
  position: absolute;
  top: 8vmin;
  left: 8vmin;
}
div.circulo::before{
  content: "";
  border: 1rem solid green;
  border-radius: 50%;
}
div.cruz::before{
  content: "\2716";
  color: red;
  font-size: calc(16vmin + 2rem);
  line-height: calc(16vmin + 2rem);
}