body {
    max-width: 100%;
    overflow-x: hidden;
            background-color: rgba(0, 0, 0, 1);
            text-align: center;
}
.logo {
    width: 10em;
}
.navbar{
    padding-right: 30px;
    padding-left: 30px;
}

iframe {
    width: 90%;
    margin: 5%;
    padding: auto;
    margin-top: 5em;
    height: 40em;
}

article {
    align-content: center;
    margin:0;
}
footer{min-height: 0 margin:0;}
h4 {
    padding-top: 5px;
}

h1 {
    text-align: center;
}

video {
    width: 100%;
    margin: 0;
}
video[poster]{
    position: relative;
    top:-50px;
    margin: 0;
}

header {
    display: inline-block;

section {
    margin: auto;
    padding-top: 100px;
}

.tierra,
.cielo,
.cuadrado {
    height: 9em;
    width: 3.9em;
    display: inline-block;
    margin: 0.2em;
    padding: 0.1em;
}

.tierra {
    -moz-border-radius: 10em 0 0 10em;
    -webkit-border-radius: 10em 0 0 10em;
    border-radius: 10em 0 0 10em;
    background-color: rgba(255, 255, 0);
}

.uno,
.cielo,
.tierra,
.miti {
    border: 0.3em solid rgba(0, 0, 0, 0.5);
    box-shadow: 0.4em 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.1);
    box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.2);
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.4);
   
}

.cielo {
    -moz-border-radius: 0 10em 10em 0;
    -webkit-border-radius: 0 10em 10em 0;
    border-radius: 0 10em 10em 0;
    background-color: rgba(255, 255, 0);

}

.uno {
    height: 4.5em;
    margin-top: 1.8em;
    width: 3.9em;
    background-color: rgba(0, 0, 255);
}

.dos {
    display: inline-block;
    padding: 0;
    margin: auto;
    
}

.miti {
    height: 4.5em;
    width: 3.9em;
    display: inline-block;
    background-color: rgba(255, 0, 0);
}
.uno:hover,
.cielo:hover,
.tierra:hover,
.miti:hover{
    border: 0.4em solid rgba(0, 0, 0, 1);
    opacity: 1;
}
